<main [@routeAnimations]="PrepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
<div class="NavbarContainer">
  <div class="Navbar">
    <a style="width: 25%" routerLink="/">
      <div class="Link">
        <div class="Icon"></div>
        <span>Дневник</span>
      </div>
    </a>

    <a style="width: 25%" routerLink="/homework">
      <div class="Link">
        <div class="Icon"></div>
        <span>Задания</span>
      </div>
    </a>

    <a style="width: 25%" routerLink="/syllabus">
      <div class="Link">
        <div class="Icon"></div>
        <span>Расписание</span>
      </div>
    </a>
    <a style="width: 25%" routerLink="/settings">
      <div class="Link">
        <div class="Icon"></div>
        <span>Настройки</span>
      </div>
    </a>
  </div>
</div>
