<div class="DiaryContainer">
  <div *ngFor="let diary of Diary" class="DiaryBox">
    <div class="DayBox">
      <span style="font-size: 25px; font-family: 'Ruda'">{{
        diary.Date.Day
      }}</span>
      <span style="margin-left: 6px; font-size: 14px">{{
        diary.Date.Date
      }}</span>
    </div>
    <div class="Diary">
      <div
        *ngFor="let DiaryTable of diary.Syllabus; let i = index"
        class="DiaryTable"
      >
        <div class="DiaryTableHeader">
          <div class="DiaryNumber">
            <span>{{ i + 1 }}</span>
          </div>
          <div class="DiarySubject">
            <span>{{ DiaryTable.Name }}</span>
          </div>
        </div>
        <div class="DiaryTableInfo">
          <div class="DiaryTableHomework">
            <input
              class="Homework"
              type="text"
              value="{{ DiaryTable.Homework }}"
            />
            <!-- <div class="DiaryTableInfo">
              <span>Инфо:</span>
              <div class="InfoBlock">
                <span>Учитель </span>
                <span>{{ DiaryTable.Info.Teacher }}</span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
