<div class="WeekContainer" >
    <div class="WeekBox" >
        <h2>Четверг 16.09</h2>
    </div>

</div>
<div class="DiaryContainer" > 
    <div class="DiaryBox" >
        <div class="DayBox" >
            <span>Понедельник</span>
        </div>
        <div class="Diary" >
            <div class="DiaryTable" >
                <div class="DiaryNumber">
                    <span>1</span>
                </div>
                <div class="DiarySubject" >
                    <span>Математика</span>
                </div>
            </div>
        </div>
    </div>
    <div class="DiaryBox" >

    </div>
</div>


