.ContentFixer {
  position: fixed;
  overflow: scroll;
  margin: 0px 5%;
  border-radius: 10px;
}
.WeekChangerContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  color: #fff;
  align-items: center;
  text-align: center;
}
.WeekChanger {
  display: grid;
  width: 34px;
  height: 34px;
  align-content: center;
  justify-content: center;
}
.WeekChanger > svg {
  fill: #fff;
  height: 30px;
  width: 30px;
}
.CurrentWeek > h2 {
  font-family: "Ruda";
  font-size: 28px;
}
.DiaryContainer {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}
.DiaryBox {
  background: #080808;
  width: 100%;
  margin: 10px 0px;
  border-radius: 10px;
  color: whitesmoke;
  max-width: 420px;
}
.DiaryBox:first-child {
  margin: 0px 0px 10px 0px;
}
.Diary {
  padding: 15px;
}
.DiaryTable {
  padding: 5px;
  border-radius: 5px;
  margin: 4px 0px;
  height: 32px;
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.DayBox {
  padding: 15px 20px;
  border-bottom: 3px solid #ffc300;
}
.DiaryNumber {
  background: #181818;
  padding: 5px 10px;
  border-radius: 5px;
}
.DiarySubject {
  margin-left: 10px;
}
.DiaryTableHeader {
  display: flex;
  align-items: center;
}
.Extended {
  background: #181818;
  height: 150px;
}
.DiaryTable > .DiaryTableInfo {
  opacity: 0;
  visibility: hidden;
  margin: 15px 0px;
  transition: 0.2s;
}
.DiaryTable.Extended > .DiaryTableInfo {
  opacity: 1;
  margin: 0px;
  visibility: visible;
}
.Homework {
  border-radius: 5px;
  width: -webkit-fill-available;
  outline: none;
  background: #080808;
  color: whitesmoke;
  font-family: "Ruda";
  padding: 15px;
  margin: 5px;
  overflow: hidden;
  border: 2px solid #080808;
  transition: 0.3s;
}
.Homework:focus {
  border: 2px solid #ffc300;
}
