@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ruda:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
body {
  background: #001d3d;
}
:-webkit-scrollbar:horizontal {
  height: 0px !important;
  display: none !important;
  background: black;
}
main {
  position: relative;
}
.NavbarContainer {
  position: fixed;
  height: 60px;
  width: 100%;
  background: #000814;
  bottom: 0px;
  left: 0px;
  border-top: 2px solid #ffc300;
}
.Navbar {
  display: flex;
}
.Link {
  height: 65px;
  color: whitesmoke;
  display: grid;
  align-content: center;
  justify-items: center;
}
.Link > span {
  font-size: 13px;
}
.Icon {
  height: 32px;
  width: 32px;
  background-image: url(./assets/1x/cogwheel-1.png);
}
